Importando as bibliotecas

In [1]:
import pandas as pd
import numpy as np

Obtendo base de dados

In [2]:
dic = pd.read_excel("dicionario_PNS_microdados_2019.xls", skiprows = 1)
dic.head()

,Posição inicial,Tamanho,Código\nda\nvariável,Quesito,Unnamed: 4,Categorias,Unnamed: 6
0,NaN,NaN,NaN,nº,descrição,Tipo,Descrição
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Parte 1 - Identificação e Controle,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2.0,V0001,NaN,Unidade da Federação,11,Rondônia
4,NaN,NaN,NaN,NaN,NaN,12,Acre

In [3]:
w = dic.Tamanho.dropna(axis=0).values
ww = w.astype(int)
dic.iloc[:, 2].dropna(axis=0).shape

(1089,)

In [4]:
nomes = dic.iloc[:, 2].dropna(axis=0)
nomes

3           V0001
30          V0024
31        UPA_PNS
32      V0006_PNS
33          V0015
          ...
5199       VDL001
5202       VDM001
5207       VDP001
5211       VDR001
5221       VDDATA
Name: Código\nda\nvariável, Length: 1089, dtype: object

In [5]:
data = pd.read_fwf("PNS_2019.txt", header = None, dtyoe = str, widths = ww)
data.head()

,0,1,2,3,4,5,6,7,8,9,...,1078,1079,1080,1081,1082,1083,1084,1085,1086,1087
0,11,1110011,110000016,1,1,2019,6.0,1,1,1.0,...,1.0,6.0,2098.0,350.0,2.0,NaN,NaN,NaN,NaN,20220504
1,11,1110011,110000016,1,1,2019,6.0,1,1,0.0,...,NaN,NaN,2098.0,350.0,2.0,NaN,NaN,NaN,NaN,20220504
2,11,1110011,110000016,1,1,2019,6.0,1,1,0.0,...,1.0,4.0,2098.0,350.0,2.0,NaN,NaN,NaN,NaN,20220504
3,11,1110011,110000016,1,1,2019,6.0,1,1,9.0,...,NaN,NaN,2098.0,350.0,2.0,NaN,NaN,NaN,NaN,20220504
4,11,1110011,110000016,1,1,2019,6.0,1,1,9.0,...,NaN,NaN,2098.0,350.0,2.0,NaN,NaN,NaN,NaN,20220504

In [6]:
desc = dic.iloc[1:, 4].dropna(axis=0)
desc = desc.iloc[:-1]
desc

3                                    Unidade da Federação
30                                                Estrato
31                                                    UPA
32                    Número de ordem do domicílio na PNS
33                                     Tipo da entrevista
                              ...
5191    Faixa de rendimento domiciliar per capita (exc...
5199    Idade em meses das crianças nascidas no períod...
5202    Faixa de tempo gasto por dia no deslocamento c...
5207             Tipo de cigarro industrializado comprado
5211         Método contraceptivo mais eficaz que faz uso
Name: Unnamed: 4, Length: 1088, dtype: object

In [7]:
data.shape

(293726, 1088)

In [8]:
data.columns = desc
data.columns

Index(['Unidade da Federação', 'Estrato', 'UPA',
       'Número de ordem do domicílio na PNS', 'Tipo da entrevista',
       'Ano de referência', 'Total de moradores',
       'Tipo de situação censitária', 'Tipo de área',
       'Seleção do morador de 15 anos ou mais para responder o questionário individual',
       ...
       'Condição em relação à força de trabalho na semana de referência para pessoas de 14 anos ou mais de idade',
       'Condição de ocupação na semana de referência para pessoas de 14 anos ou mais de idade',
       'Grupamentos de atividade do trabalho principal da semana de referência para pessoas de 14 anos ou mais de idade',
       'Rendimento domiciliar \n(exclusive o rendimento das pessoas cuja condição na unidade domiciliar era pensionista, empregado doméstico ou parente do empregado doméstico)',
       'Rendimento domiciliar per capita\n(exclusive o rendimento das pessoas cuja condição na unidade domiciliar era pensionista, empregado doméstico ou parente do empregado doméstico)',
       'Faixa de rendimento domiciliar per capita (exclusive o rendimento das pessoas cuja condição na unidade domiciliar era pensionista, empregado doméstico ou parente do empregado doméstico)',
       'Idade em meses das crianças nascidas no período de referência do Módulo L',
       'Faixa de tempo gasto por dia no deslocamento casa-trabalho pelas pessoas ocupadas que se deslocavam para o trabalho',
       'Tipo de cigarro industrializado comprado',
       'Método contraceptivo mais eficaz que faz uso'],
      dtype='object', name='Unnamed: 4', length=1088)

In [9]:
data.to_csv('PNS_2019.csv', sep='\t', encoding='utf-8')
data.head()

Unnamed: 4,Unidade da Federação,Estrato,UPA,Número de ordem do domicílio na PNS,Tipo da entrevista,Ano de referência,Total de moradores,Tipo de situação censitária,Tipo de área,Seleção do morador de 15 anos ou mais para responder o questionário individual,...,Condição em relação à força de trabalho na semana de referência para pessoas de 14 anos ou mais de idade,Condição de ocupação na semana de referência para pessoas de 14 anos ou mais de idade,Grupamentos de atividade do trabalho principal da semana de referência para pessoas de 14 anos ou mais de idade,"Rendimento domiciliar \n(exclusive o rendimento das pessoas cuja condição na unidade domiciliar era pensionista, empregado doméstico ou parente do empregado doméstico)","Rendimento domiciliar per capita\n(exclusive o rendimento das pessoas cuja condição na unidade domiciliar era pensionista, empregado doméstico ou parente do empregado doméstico)","Faixa de rendimento domiciliar per capita (exclusive o rendimento das pessoas cuja condição na unidade domiciliar era pensionista, empregado doméstico ou parente do empregado doméstico)",Idade em meses das crianças nascidas no período de referência do Módulo L,Faixa de tempo gasto por dia no deslocamento casa-trabalho pelas pessoas ocupadas que se deslocavam para o trabalho,Tipo de cigarro industrializado comprado,Método contraceptivo mais eficaz que faz uso
0,11,1110011,110000016,1,1,2019,6.0,1,1,1.0,...,1.0,6.0,2098.0,350.0,2.0,NaN,NaN,NaN,NaN,20220504
1,11,1110011,110000016,1,1,2019,6.0,1,1,0.0,...,NaN,NaN,2098.0,350.0,2.0,NaN,NaN,NaN,NaN,20220504
2,11,1110011,110000016,1,1,2019,6.0,1,1,0.0,...,1.0,4.0,2098.0,350.0,2.0,NaN,NaN,NaN,NaN,20220504
3,11,1110011,110000016,1,1,2019,6.0,1,1,9.0,...,NaN,NaN,2098.0,350.0,2.0,NaN,NaN,NaN,NaN,20220504
4,11,1110011,110000016,1,1,2019,6.0,1,1,9.0,...,NaN,NaN,2098.0,350.0,2.0,NaN,NaN,NaN,NaN,20220504