 Importando as bibliotecas

In [30]:
import pandas as pd
import numpy as np

Obtendo base de dados

In [31]:
dic = pd.read_excel("dicionario_PNS_microdados_2019.xls", skiprows = 1)
dic.head()

,Posição inicial,Tamanho,Código\nda\nvariável,Quesito,Unnamed: 4,Categorias,Unnamed: 6
0,NaN,NaN,NaN,nº,descrição,Tipo,Descrição
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Parte 1 - Identificação e Controle,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2.0,V0001,NaN,Unidade da Federação,11,Rondônia
4,NaN,NaN,NaN,NaN,NaN,12,Acre

In [32]:
w = dic.Tamanho.dropna(axis=0).values
w
ww = w.astype(int)
ww
dic.iloc[:, 2].dropna(axis=0).shape

(1089,)

In [33]:
nomes = dic.iloc[:, 2].dropna(axis=0)
nomes

3           V0001
30          V0024
31        UPA_PNS
32      V0006_PNS
33          V0015
          ...
5199       VDL001
5202       VDM001
5207       VDP001
5211       VDR001
5221       VDDATA
Name: Código\nda\nvariável, Length: 1089, dtype: object

In [34]:
data = pd.read_fwf("PNS_2019.txt", header = None, dtyoe = str, widths = ww)
data.head()

,0,1,2,3,4,5,6,7,8,9,...,1078,1079,1080,1081,1082,1083,1084,1085,1086,1087
0,",""",","""",""""""",""",""""""""""""""",""",11",11,1001,11,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"0,","""0,""""0,","""""""""0,""""""","""""""""","""0",",111",11,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"1,","""1,""""1,","""""""""1,""""""","""""""""","""1",",111",11,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"2,","""2,""""2,","""""""""2,""""""","""""""""","""2",",111",11,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"3,","""3,""""3,","""""""""3,""""""","""""""""","""3",",111",11,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
desc = dic.iloc[1:, 4].dropna(axis=0)
desc

3                                    Unidade da Federação
30                                                Estrato
31                                                    UPA
32                    Número de ordem do domicílio na PNS
33                                     Tipo da entrevista
                              ...
5199    Idade em meses das crianças nascidas no períod...
5202    Faixa de tempo gasto por dia no deslocamento c...
5207             Tipo de cigarro industrializado comprado
5211         Método contraceptivo mais eficaz que faz uso
5221    Data de geração do arquivo de microdados. Data...
Name: Unnamed: 4, Length: 1089, dtype: object

In [36]:
data.shape()

TypeError: 'tuple' object is not callable

In [ ]:
data.columns = desc
data.columns

ValueError: Length mismatch: Expected axis has 1088 elements, new values have 1089 elements

In [ ]:
data.to_csv('pns-2019.csv', sep='\t', encoding='utf-8')

In [ ]:
data.head()